:root {
  /* Color */
  --white-color: #fff;
  --black-color: #140a00;
  --blue-color: #045fd4;
  --red-color: #ff0000;
  --grey-dark-color: #909090;
  --grey-light-color: #e0e0e0;

  /* Size */
  --padding: 12px;
  --avatar-size: 36px;

  /* Font size */
  --font-large: 18px;
  --font-medium: 14px;
  --font-small: 12px;
  --font-micro: 10px;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

ul,
li {
  list-style: none;
}

button,
button:focus {
  background-color: var(--white-color);
  border: none;
  cursor: pointer;
  outline: 0;
}

body {
  font-family: Roboto;
}

/* Header */
header {
  display: flex;
  justify-content: space-between;
  padding: var(--padding);
  background-color: var(--black-color);
  color: var(--white-color);
}
header .logo {
  font-size: var(--font-large);
}
header .logo i {
  color: var(--red-color);
}

header .icons .fa-search {
  margin-right: var(--padding);
}

header .icons > ul {
  display: flex;
}

.player {
  /* video 플레이어에 반응형적인 요소를 주기 위함 */
  position: sticky;
  /* position : sticky만 주면 어디에 고정되어야하는지 모름, 힌트 줘야됨 */
  top: 0;
  text-align: center;
  background: var(--black-color);
}

/* Video Player */
.player video {
  /* 반응형을 만들기 위해서 %로 변경 */
  width: 100%;
  height: 100%;
  /* 비디오 플레이어가 너무 커지는 것을 방지하기 위함, 최대 경계선 지정 */
  max-width: 1000px;
}

body > .info {
  padding: var(--padding);
}

.info .metadata .hashtags {
  display: flex;
  font-size: var(--font-small);
  color: var(--blue-color);
}

.info .metadata .hashtags li {
  margin-right: var(--padding);
}

.info .metadata .titleAndButton {
  display: flex;
}

.info .metadata .titleAndButton .title {
  font-size: var(--font-medium);
  margin-right: var(--padding);
}

.info .metadata .titleAndButton .title.clamp {
  /*  제목의 줄 수를 2줄로 제한함 */
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 2;
  overflow: hidden;
}

.info .metadata .titleAndButton .moreBtn {
  /* 버튼 위치 조정 */
  height: 100%;
  transition: transform 300ms ease-in-out;
}

.info .metadata .titleAndButton .clicked {
  transform: rotate(180deg);
}

.info .views {
  font-size: var(--font-small);
  color: var(--grey-dark-color);
}

/* Action Tags */
.info .actions {
  display: flex;
  justify-content: space-around;
  margin: var(--padding) 0;
}

.info .actions button {
  /* 버튼 한줄로 배치 */
  display: flex;
  /* 버튼이 위로, 아래로 텍스트 배치 */
  flex-direction: column;
  font-size: var(--font-small);
  color: var(--grey-dark-color);
}

.info .actions button i {
  margin: 0 auto;
  /* padding 사이즈의 반만 지정 */
  margin-bottom: calc(var(--padding) / 2);
  font-size: 16px;
}

.info .actions button i.active {
  color: var(--blue-color);
}

/* Channel Description */
.channel {
  display: flex;
  justify-content: space-between;
  /* 위 아래로 선을 그음 */
  border-top: 1px solid var(--grey-light-color);
  border-bottom: 1px solid var(--grey-light-color);
}

.channel .metadata {
  display: flex;
  align-items: center;
}
.channel .metadata .info {
  display: flex;
  flex-direction: column;
}
.channel .metadata img {
  width: var(--avatar-size);
  height: var(--avatar-size);
  justify-content: space-between;
  /* 이미지 동그랗게 설정 */
  border-radius: 50%;
}

.channel .metadata .info .name {
  font-size: var(--font-medium);
}

.channel .metadata .info .subscribers {
  font-size: var(--font-small);
  color: var(--grey-dark-color);
}

.channel .subscribe {
  /* subscribe 글자를 대문자로 표현 */
  text-transform: uppercase;
  color: var(--red-color);
  font-size: var(--font-medium);
}

.upNext {
  padding: 0 var(--padding);
}

.upNext > .title {
  font-size: var(--font-medium);
  color: var(--grey-dark-color);
  margin-bottom: cal(var(--padding) / 2);
}

.upNext .item {
  display: flex;
  margin-top: var(--padding);
}

.upNext .item img {
  flex: 1 1 35%;
  margin-right: var(--padding);
}

.upNext .item .img img {
  width: 100%;
}

.upNext .item .info {
  flex: 1 1 60%;
}

.upNext .item .moreBtn {
  flex: 1 1 5%;
}

.upNext .item .info {
  display: flex;
  /* 텍스트와 버튼 위 아래로 정렬 */
  flex-direction: column;
}

.upNext .item .info .title {
  font-size: var(--font-small);
}
.upNext .item .info .name,
.upNext .item .info .views {
  font-size: var(--font-micro);
  color: var(--grey-dark-color);
}

.infoAndUpNext {
  display: flex;
  flex-direction: column;
}

@media screen and (min-width: 768px) {
  .infoAndUpNext {
    flex-direction: row;
    margin: var(--padding) 0;
  }
}
